---
title: Example Article
date: 2012-01-01
tags: example
---

This is an example article. You probably want to delete it and write your own articles!

<% 100.times do |i| %>
    <h2>ほげほげ <%= i %></h2>
    <p>ふがふがふがふがふが</p>
    <p>ほへほへほへほへほへほへほへほへほへほへほへほへ</p>
<% end %>