---
title: Example Article
date: 2012-01-01
tags: example
---

<p>erbファイルでは普通にHTMLを書き出します</p>

<% 20.times do |i| %>
    <h2>ほげほげ <%= i %></h2>
    <p>ふがふがふがふがふが</p>
    <p>ほへほへほへほへほへほへほへほへほへほへほへほへ</p>
<% end %>